.box {
  border: 2px solid black;
  background-color: rgb(38, 210, 8);
  width: 700px;
  height: 700px;
  position: absolute;
}

.box1 {
  border: 2px solid black;
  background-color: blue;
  width: 100px;
  height: 100px;
}
.box2 {
  border: 2px solid black;
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0%;
  top: 0%;
}
.box3 {
  border: 2px solid black;
  background-color: rgb(233, 5, 146);
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0%;
}
.box4 {
  border: 2px solid black;
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
