.box {
  border: 2px solid black;
  background-color: rgb(38, 210, 8);
  width: 300px;
  height: 500px;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.box1 {
  border: 2px solid black;
  background-color: blue;
  width: 100px;
  height: 100px;
}
.box2 {
  border: 2px solid black;
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0%;
}
